.formForMemesAdding {
  display: flex;
  justify-content: center;
}
.headings {
  text-decoration: underline;
  font-size: larger;
  align-content: center;
}

.addMemeForm {
  display: flex;
  position:relative;
  flex-direction: column;
  border: 2px solid black;
  margin: 10px;
  width: 35%;
  text-align: center;
  border-radius: 6px;
  gap: 4px;
  background-color: #8ca5ba;
}

.titleAndtagsForm {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: center;
  gap: 4px;
  background-color: #8ca5ba;
  margin: 0 auto;
}

.publishButton {
  width: 50%;
  align-self: center;
  border-radius: 6px;
  background-color: #f9c74f;
  margin: 7px;
  padding: 5px;
  border: 1px solid #577590;
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}
.publishButton:hover {
  background-color: #f4aa00;
  cursor: pointer;
}

.basicInput {
  align-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  background-color: #b3c3d1;
  border: 1px solid #577590;
}
.basicInput:focus {
  outline-style: none;
  background-color: #b3c3d1;
  color: #577590;
  border: 2px solid #577590;
}

.fileInput {
  margin: 0 auto;
}

::-webkit-file-upload-button {
  margin: 10px;
  background: #90be6d;
  outline-style: none;
  cursor: pointer;
  border: 1px solid #577590;
  border-radius: 6px;
  padding: 4px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  color: rgb(49, 47, 47);
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}


::-webkit-file-upload-button:hover {
  background: #74a74c;
  cursor: pointer;
  border: 1px solid #577590;  
}

.error {
  font-size: smaller;
  width: 40%;
  border: 1px solid #f94144;
  margin: 3px auto;
  padding: 3px 0;
  color: #f94144;
  font-weight: 400;
  background-color: #f8aeaf;
  color: #d8000c;
}

@media (max-width: 640px) {
  .addMemeForm {
    margin: 10px;
    width: 100%;
  }

  .titleAndtagsForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    gap: 4px;
    background-color: #8ca5ba;
    margin: 0 auto;
  }

  .publishButton {
    width: 50%;
    align-self: center;
    border-radius: 6px;
    background-color: #f9c74f;
    margin: 7px;
    padding: 5px;
    border: 1px solid #577590;
  }


  .basicInput {
    align-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: #b3c3d1;
    border: 1px solid #577590;
  }

  .fileInput {
    margin: 0 auto;
  }
}

@media (max-width: 1080px) {
  .addMemeForm {
    margin: 10px;
    width: 100%;
  }

  .titleAndtagsForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    gap: 4px;
    background-color: #8ca5ba;
    margin: 0 auto;
  }

  .publishButton {
    width: 50%;
    align-self: center;
    border-radius: 6px;
    background-color: #f9c74f;
    margin: 7px;
    padding: 5px;
    border: 1px solid #577590;
  }
  .basicInput {
    align-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    background-color: #b3c3d1;
    border: 1px solid #577590;
  }

  .basicInput:focus {
    outline-style: none;
    background-color: #b3c3d1;
    color: #577590;
    border: 2px solid #577590;
  }

  .fileInput {
    margin: 0 auto;
    outline-style: none;
    border: 2px solid #577590;
  }
  .fileInput:focus {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .addMemeForm {
    margin: 10px;
    width: 80%;
  }

  .titleAndtagsForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 4px;
    background-color: #8ca5ba;
    margin: 0 auto;
  }

  .publishButton {
    width: 100%;
    align-self: center;
    border-radius: 6px;
    background-color: #f9c74f;
    margin: 7px;
    padding: 5px;
    border: 1px solid #577590;
  }
  .basicInput {
    align-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: #b3c3d1;
    border: 1px solid #577590;
  }

  .fileInput {
    margin: 0 auto;
    width: 70%;
  }
}

@media (max-width: 360px) {
  .addMemeForm {
    margin: 10px;
    width: 100%;
  }

  .titleAndtagsForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    gap: 4px;
    background-color: #8ca5ba;
    margin: 0 auto;
  }

  .publishButton {
    width: 50%;
    align-self: center;
    border-radius: 6px;
    background-color: #f9c74f;
    margin: 7px;
    padding: 5px;
    border: 1px solid #577590;
  }
  .basicInput {
    align-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: #b3c3d1;
    border: 1px solid #577590;
  }

  .fileInput {
    width: 90%;
    margin: 0 auto;
  }
}
