
.box {
    position: fixed;
    width: 250px;
    height: 100px;
    background-color: white ;
    border: 2px solid black;
    border-radius: 4px;
    overflow: auto;
    background-color: #f9c74f;
    text-align: center;
}

.closeButton {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
    width: 25px;
    height: 25px;
    margin-left: 220px;
    margin-top:0
    
}