* {
  font-family: Poppins;
  font-size: medium;
  font-weight: 400;
}

body {
  background-color: #577590;
}
.logo {
  display: flex;
  align-items: center;
  padding: 6px;
}

.kwikLogo {
  max-width: 70%;
  height: auto;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons > a {
  background-color: #f9c74f;
  border: 1px solid #f9c74f;
  padding: 8px;
  box-shadow: 1px 1px 7px #f9c74f;
  margin-right: 15px;
  border-radius: 6px;
  color: rgb(49, 47, 47);
  text-decoration: none;
}

.buttons > button:last-of-type {
  margin-right: 0;
}

.addKwik {
  font-family: Poppins;
  background-color: #90be6d;
  border: 1px solid #90be6d;
  padding: 8px;
  margin-left: 15px;
  box-shadow: 1px 1px 7px #90be6d;
  border-radius: 6px;
  color: rgb(49, 47, 47);
  white-space: nowrap;
}

hr {
  border: 1px solid #f9c74f;
  box-shadow: 8px 3px 6px #f9c74f;
}

@media only screen and (max-width: 850px) {
  .kwikLogo {
    max-width: 80%;
    height: auto;
  }

  * {
    font-family: Poppins;
    font-size: small;
    font-weight: 400;
  }

  .addKwik {
    font-family: Poppins;
    font-size: small;
    background-color: #90be6d;
    border: 9px solid #90be6d;
    padding: 1px;
    margin-right: 10px;
    box-shadow: 1px 1px 7px #90be6d;
    border-radius: 6px;
    color: rgb(49, 47, 47);
  }
  .banner {
    display: flex;
    font-size: small;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
  }

  .buttons > a {
    background-color: #f9c74f;
    border: 6px solid #f9c74f;
    padding: 2px;
    box-shadow: 1px 1px 7px #f9c74f;
    margin-right: 10px;
    border-radius: 6px;
    color: rgb(49, 47, 47);
    text-decoration: none;
  }
}

@media only screen and (max-width: 640px) {
  .kwikLogo {
    max-width: 100%;
    height: auto;
  }

  * {
    font-family: Poppins;
    font-size: small;
    font-weight: 400;
  }

  .addKwik {
    font-family: Poppins;
    font-size: small;
    background-color: #90be6d;
    border: 2px solid #90be6d;
    padding: 1px;
    margin-right: 10px;
    box-shadow: 1px 1px 7px #90be6d;
    border-radius: 6px;
    color: rgb(49, 47, 47);
  }
  .banner {
    display: flex;
    font-size: small;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
  }

  .buttons > a {
    background-color: #f9c74f;
    border: 1px solid #f9c74f;
    padding: 2px;
    box-shadow: 1px 1px 7px #f9c74f;
    margin-right: 10px;
    border-radius: 6px;
    color: rgb(49, 47, 47);
    text-decoration: none;
  }
}

@media only screen and (max-width: 450px) {
  .kwikLogo {
    max-width: 100%;
    height: auto;
  }

  * {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
  }

  .addKwik {
    font-size: 10px;
    width: 70%;
    font-family: Poppins;
    background-color: #90be6d;
    border: 1px solid #90be6d;
    padding: 1px;
    margin-right: 10px;
    box-shadow: 1px 1px 7px #90be6d;
    border-radius: 6px;
    color: rgb(49, 47, 47);
  }
  .banner {
    font-size: 10px;
    display: flex;
    font-size: small;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
  }

  .buttons > a {
    background-color: #f9c74f;
    border: 1px solid #f9c74f;
    padding: 2px;
    box-shadow: 1px 1px 7px #f9c74f;
    margin-right: 10px;
    border-radius: 6px;
    color: rgb(49, 47, 47);
    text-decoration: none;
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .kwikLogo {
    max-width: 120%;
    height: auto;
  }

  * {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
  }

  .addKwik {
    font-size: 10px;
    width: 70%;
    font-family: Poppins;
    background-color: #90be6d;
    border: 1px solid #90be6d;
    padding: 1px;
    margin-right: 6px;
    box-shadow: 1px 1px 7px #90be6d;
    border-radius: 6px;
    color: rgb(49, 47, 47);
  }
  .banner {
    font-size: 10px;
    display: flex;
    font-size: small;
    justify-content: space-between;
    margin: 1px;
    align-items: center;
  }

  .buttons > a {
    background-color: #f9c74f;
    border: 1px solid #f9c74f;
    padding: px;
    box-shadow: 1px 1px 7px #f9c74f;
    margin-right: 5px;
    border-radius: px;
    color: rgb(49, 47, 47);
    text-decoration: none;
    font-size: 10px;
  }
}
