* {
  font-family: Poppins;
  font-size: medium;
  font-weight: 400;
}

body {
  background-color: #577590;
}
.logo {
  display: flex;
  align-items: center;
  padding: 6px;
}

.kwikLogo {
  max-width: 70%;
  height: auto;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons > a {
  background-color: #f9c74f;
  border: 1px solid #f9c74f;
  padding: 8px;
  box-shadow: 1px 1px 7px #f9c74f;
  margin-right: 15px;
  border-radius: 6px;
  color: rgb(49, 47, 47);

  text-decoration: none;
}

.buttons > button:last-of-type {
  margin-right: 0;
}

.addKwik {
  font-family: Poppins;
  background-color: #90be6d;
  border: 1px solid #90be6d;
  padding: 8px;
  margin-left: 15px;
  box-shadow: 1px 1px 7px #90be6d;
  border-radius: 6px;
  color: rgb(49, 47, 47);

  white-space: nowrap;
}

.menuToggle {
  display: none;
  position: relative;
}
input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 800px) {
  .banner {
    flex-direction: column;
    align-items: stretch;
  }

  #menuToggle {
    display: block;
    position: relative;
  }

  input[type="checkbox"] {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    display: block;
    top: -7px;
    right: -5px;

    cursor: pointer;
    z-index: 2;

    opacity: 0;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier (0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  input:checked ~ .buttons {
    display: block;
  }

  .buttons {
    flex-direction: column;
    display: none;
    align-content: center;
  }
  .buttons > a {
    display: block;
    margin: 5px 0;
  }
}
