* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text {
    display: block;
    box-sizing: border-box;
    background-color: #2b3947;
    padding: 15px;
    justify-content: center;
}
.textContent {
  display: block;
  margin: 50px auto 0;
  max-width: 100%; 
  width: 700px;
  height: 100%;
  margin: 0 auto;
  padding-top: 200px;
  background-color: #2b3947;
  
}
.span {
    font-size: 0px;
}
.text h1 {
  font-size: 30px;
  color: #d1d2d4;
}
.text h2 {
  font-size: 17px;
  color: #d1d2d4;
}
.p {
  display: block;
  margin-block-start: 20px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.text p {
  font-size: px;
  line-height: 1.67;
  color: #a7a8aa;
  margin-bottom: 24px;
}
