.form {
  display: flex;
  justify-content: center;
}

.headings {
  text-decoration: underline;
  font-size: larger;
}

.loginForm {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 10px;
  width: 30%;
  text-align: center;
  border-radius: 6px;
  gap: 4px;
  background-color: #8ca5ba;
}

.formForLogin {
  margin: 0;
}

a {
  font-size: medium;
  color: black;
  text-decoration: none;
}

.registerForm {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 10px;
  width: 30%;
  text-align: center;
  border-radius: 6px;
  gap: 4px;
  background-color: #8ca5ba;
}

.basicInput {
  width: 80%;
  margin: 4px 0;
  padding: 15px;
  background-color: #b3c3d1;
  border: 1px solid #577590;
}

.basicInput:focus {
  outline-style: none;
  background-color: #b3c3d1;
  color: #577590;
  border: 2px solid #577590;
}
.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.registerButton {
  width: 50%;
  align-self: center;
  border-radius: 6px;
  background-color: #f9c74f;
  margin: 12px;
  padding: 5px;
  border: 1px solid #577590;
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
  cursor: pointer;
}
.registerButton:hover {
  background-color: #f4aa00;
}

.loginButton {
  width: 50%;
  align-self: center;
  border-radius: 6px;
  background-color: #f9c74f;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #577590;
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #f4aa00;
}

.error {
  font-size: smaller;
  width: 50%;
  border: 1px solid #f94144;
  margin: 3px auto;
  padding: 3px 0;
  color: #f94144;
  font-weight: 400;
  background-color: #f8aeaf;
  color: #d8000c;
}

@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 250px;
    width: 100%;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
  }
  .loginButton {
    font-size: 12px;
    width: 50%;
    align-self: center;
    border-radius: 6px;
    background-color: #f9c74f;
    margin: 7px;
    padding: 5px;
    border: 1px solid #577590;
  }
  .registerForm {
    width: 100%;
  }
}
.rules {
  text-decoration: underline;
}
.rules:hover {
  color:#F3722C;
}

.privacy {
  text-decoration: underline;
}
.privacy:hover {
  color:#F3722C;
}